{{#> main }}
    {{#*inline "content"}}
        <h1 class="mb-4 text-center">Books List</h1>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Pages</th>
                </tr>
            </thead>
            <tbody>
                {{#books}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{author}}</td>
                        <td>{{pages}}</td>
                        <td>
                            <form method="post" action="delete/{{name}}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/books}}
            </tbody>
        </table>
        <a href="/create" class="btn btn-primary">Add a book</a>
    {{/inline}}
{{/main}}