{{#> main }}
    {{#*inline "content"}}
        <h1 class="mb-4 text-center">Sign In</h1>
        <div class="form-container w-50">
            <form method="post" action="/auth/login">
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" id="login" name="login" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign In</button>
                <a href="/" class="btn btn-secondary w-100 mt-3">Back</a>
            </form>
        </div>
    {{/inline}}
{{/main}}